@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
    src: url("https://cdn.glitch.com/5b3dc93d-65a3-4365-a384-eb85900e50ad%2Fminecraft_font.eot?1523886084906") format("woff"), 
         url("https://cdn.glitch.com/5b3dc93d-65a3-4365-a384-eb85900e50ad%2Fminecraft_font.eot?1523886084906") format("eot"),  
	     url("https://cdn.glitch.com/5b3dc93d-65a3-4365-a384-eb85900e50ad%2Fminecraft_font.ttf?1523886122676") format("truetype"), 
	     url("https://cdn.glitch.com/5b3dc93d-65a3-4365-a384-eb85900e50ad%2Fminecraft_font.svg#Minecraft") format("svg");
}
.mc {
    padding: 1em;
    font-family: Minecraft;
    background-color: #2b1d0e;
}
.mc_black {
    color: black;
}
.mc_dark_blue {
    color: #0000AA;
}
.mc_dark_green {
    color: #00AA00;
}
.mc_dark_aqua {
    color: #00AAAA;
}
.mc_dark_red {
    color: #AA0000;
}
.mc_dark_purple {
    color: #AA00AA;
}
.mc_gold {
    color: #FFAA00;
}
.mc_gray {
    color: #AAAAAA;
}
.mc_dark_gray {
    color: #555555;
}
.mc_blue {
    color: #5555FF;
}
.mc_green {
    color: #55FF55;
}
.mc_aqua {
    color: #55FFFF;
}
.mc_red {
    color: #FF5555;
}
.mc_light_purple {
    color: #FF55FF;
}
.mc_yellow {
    color: #FFFF55;
}
.mc_white {
    color: white;
}
.mc_bold {
    font-weight: bold;
}
.mc_italic {
    font-style: italic;
}
.mc_strikethrough, .mc_underlined {
    position: relative;
    display: inline-block;
}
.mc_strikethrough::before, .mc_underlined::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
}
.mc_strikethrough::before {
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    top: 60%;
}
.mc_underlined::after {
    border-bottom: 2px solid;
    border-bottom-color: inherit;
    bottom: -8%;
}
